// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.
// active global variables, dh
$v-app-loading-text: "Loading Resources...";
$v-gradient: v-linear 20%;
$v-border: 1px solid (v-shade 0.7);
$v-bevel-depth: 30%;
$v-shadow-opacity: 5%;

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

/****** Basic ******/
	
	.saveMessageLabel{
		Color: red;
	}
	
	.v-panel {
		-webkit-box-shadow: 0 5px 10px #777;
		-moz-box-shadow: 0 5px 10px #777;
		box-shadow: 0 5px 10px #777;
	}
	
	.v-customcomponent-noshadow {
		-webkit-box-shadow: 0 0px 0px #777;
		-moz-box-shadow: 0 0px 0px #777;
		box-shadow: 0 0px 0px #777;
	}
	
	.v-panel-noshadow {
		-webkit-box-shadow: 0 0px 0px #777;
		-moz-box-shadow: 0 0px 0px #777;
		box-shadow: 0 0px 0px #777;
	}
	
	.v-panel .v-panel-content {
		background: white;
	}
	
	v.panel .v-panel-caption {
		background: #a4a4a4;
	}

	.v-label-highrisk {
		color: red;
		font-weight: bold;
	}
	
	/****** UI Root ******/
	
	#uiContainer{
		position: inherit !important;
	}
	
	/* Root Container */
	.v-ui
	{
		background: url('img/bg_doctor.jpg');
		background-size: cover;
		background-position: top center;
		background-filter: contrast(0.6);
		padding: 4vw;
		box-sizing: border-box; 
	}
	
	/***** Control Bar *****/
	
	/* BIG white style */
	
	.v-button-big{
	    height: 55px;
	    width: 173px;
	  	padding: 1px 14px 0 8px;
	  	-webkit-box-shadow: 0 4px 4px #FFFFFF;
		-moz-box-shadow: 0 4px 4px #FFFFFF;
		box-shadow: 0 4px 4px #FFFFFF;
	}
	
	.v-button-big:hover {
		cursor:pointer;
		border-color: #F5F5F5;
        border-image: none;
        border-left: 1px solid #F5F5F5;
        border-radius: 3px 3px 3px 3px;
        border-right: 1px solid #F5F5F5;
        border-style: solid;
        border-width: 1px;
	 }
	 
	 .v-button-big:hover .v-button-caption {
		color: #0404B4;
	}
		
	.v-button-big.v-pressed {
		border-color: #F5F5F5;
        border-image: none;
        border-left: 1px solid #F5F5F5;
        border-radius: 3px 3px 3px 3px;
        border-right: 1px solid #F5F5F5;
        border-style: solid;
        border-width: 1px;
	}
	
	/***** Login View *****/	
	
	#loginPanel
	{
		padding:40px 35px 40px 35px; 
		background-color: white;
		box-sizing: border-box;	
	} 
	
	#loginTitle
	{
		font-size: 2rem;
		margin-bottom: 10px;
	}
	
	.my-login{
		-webkit-box-shadow: 0 18px 10px #777;
		-moz-box-shadow: 0 18px 10px #777;
		box-shadow: 0 18px 10px #777;
	}
	
}
